.centeredView{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 200);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.form{
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 10% 5%;
}

.formTitle{
  display: flex;
  justify-content: center;
  margin: 25px 0 100px 0;
}

.input{
  margin: 10px 25px;
}

.buttonSpan{
  display: flex;
  flex-direction: row-reverse;
  margin: 0 100px;
}